# Виртуальное окружение
venv/
env/
ENV/

# Кэшированные файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Логи
logs/
*.log

# Дистрибутивы
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Тестовые файлы
.coverage
htmlcov/
.pytest_cache/

# Другие временные файлы
.DS_Store
.env 

# Игнорируем файлы в папке finds, но сохраняем саму папку
finds/*
!finds/.gitkeep 